body {
    background-color: #eaf6f6;
}

hr {
    border-color: gray;
    border-style: dotted none none none;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

.circular {
    border-radius: 100%;
}